/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

img {
    max-width: 500px;

}

/* header */
header {
    width: 100%;
    background-color: orange;
    position: fixed;
    z-index: 100;
}

.header-orange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo-booleando {
    max-height: 40px;
}

/* main content */

.flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    justify-content: space-between;
    height: 500px;
    margin-top: 100px;
    width: calc(100% /3 - 20px / 3);
    gap: 10px;
}
/* image container */
.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.image-primary {
    width: 100%;
    height: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* l’immagine che deve comparire al passaggio del mouse parte nascosta */
.image-hover {
  position: absolute; /* così sta sopra l’altra */
  top: 0;
  left: 0;
  opacity: 0;
}

/* quando passi il cursore sulla card... */
.card:hover .image-hover {
  opacity: 1; /* seconda immagine diventa visibile */
}

/* e la prima scompare */
.card:hover .image-primary {
  opacity: 0;
}


.discount {
    position: relative;
}
.discount-label {
    padding: 10px;
    background-color: red;
    position: absolute;
    bottom: 25px;
    left: 0;
}

.sostenibilita {
    padding: 10px;
    background-color: green;
    position: absolute;
    left: 60px;
    bottom: 25px;
}

.prezzo {
    display: flex;
}

.prezzo-scontato {
    color: red;
}

.prezzo-intero {
    color: rgb(147, 96, 96);
    padding-left: 10px;
}

/* debug */
.boxprova {
    width: 200px;
    height: 300px;
    background-color: black;
    display: flex;
}

